.context_menu_man {
    width: 250px;
    margin-left: 248px;
    top: 0px;
    position: absolute;
    padding: 15px;
    z-index: 1000;
    visibility: visible;

    display: none;
    color: #d2a66b;
    font-weight: bold;
    background-color: #ffffff;
    border: 1px solid #dddfdf;



}