.menu {
    border-top: 1px solid #dddfdf;
    border-bottom: 1px solid #dddfdf;
    margin-top: 1%;
    width: 100%;
    
}
.nav__ul {
    li {
        font-weight: bold;
        &:nth-last-child(2) {
            a {
                margin-left: 130px;
                
            }
          }
        &:first-child:hover{
            .menu__context_menu {
                display: block;
                visibility:visible;

            }
            
        }    
        a{
            color: #171717;
            font-size: 1em;

        }
    }
    img {
        margin-top: -3px;

    }
}
.nav-item {
    position: relative;

}


// media min-width: 768
@media (min-width: 768px) {
    @media (max-width: 991.98px) {

        .nav__ul {       
                display: inline-block;
                width: 100%;

            li {
                    &:first-child {
                        padding-left: 0;
                        
                    }
                    padding-left: 4.5%; 
                    display: inline-block;

                    a {
                        font-size: 0.85em;

                    }

            }
        }
    }


}