.form_poisk {
    float: left;
    width: 496px;
}
.form__input {
    // width: 496px;
    height: 40px;
    border-radius: 4px;
    border-color: #b9b8bd;
    outline: none;
    font-family: "PT Sans";

}
.input_icon {
    background: none;
    border: 1px solid #b9b8bd;
    border-radius: 50%;
    border-left: none;

}
.input_border {
    border-right: none;

}